<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gérer le VPS</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/manage.css">
</head>
<body>

    
    <header>
        <nav>
            <div class="logo">Echo-Host</div>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <% if (user.level === 2) { %>
                    <li><a href="/admin">Admin</a></li>
                    <li><button onclick="window.location.href='/admin/vps'">Voir tous les VPS</button></li>
                <% } %>
                <li><a href="/logout">Se déconnecter</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Détails du VPS : <%= vps.vpsName %></h1>
        <p><strong>Nom d'utilisateur :</strong> <%= vps.username %></p>
        <p><strong>RAM :</strong> <%= vps.ram %> GiB</p>
        <p><strong>Disque :</strong> <%= vps.disk %> GiB</p>
        <p><strong>CPU :</strong> <%= vps.vcpu %> vCPU</p>
        <p><strong>IPv4 :</strong> <%= vps.ipv4 %></p>
        <p><strong>OS :</strong> <%= vps.os %></p>
        <p><strong>Date d'achat :</strong> <%= vps.purchaseDate %></p> <!-- Affichage de la date d'achat -->
        <p><strong>Date d'expiration :</strong> <%= vps.expirationDate %></p> <!-- Affichage de la date d'expiration -->


    </main>
</body>
</html>
