<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion du VPS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">Echo-Host</div>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/logout">Se déconnecter</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Détails du VPS</h1>
        <p><strong>Nom du VPS :</strong> <%= vps.vpsName %></p>
        <p><strong>Username :</strong> <%= vps.username %></p>
        <p><strong>Mot de passe :</strong> <%= vps.password %></p>
        <p><strong>RAM :</strong> <%= vps.ram %> Go</p>
        <p><strong>Disque :</strong> <%= vps.disk %> Go</p>
        <p><strong>CPU :</strong> <%= vps.vcpu %> vCPU</p>
        <p><strong>IPv4 :</strong> <%= vps.ipv4 %></p>
        <p><strong>OS :</strong> <%= vps.os %></p>

        <form action="/admin/delete-vps" method="POST">
            <input type="hidden" name="email" value="<%= user.email %>">
            <input type="hidden" name="vpsId" value="<%= vps.id %>">
            <button type="submit">Supprimer le VPS</button>
        </form>
    </main>

    <div class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Echo-Host</span></strong>. Tous droits réservés.
        </div>
        
</body>
</html>
